/.idea/
/ApiGatewayServer/HELP.md
/ConfigurationServer/HELP.md
/EurekaServer/HELP.md
/logs/
/ApiGatewayServer/target/
/ConfigurationServer/target/
/EurekaServer/target/
/LicenseService/target/
/LicenseService/HELP.md
/LicenseService/lisening-service.iml
/OrganizationService/target/
