/.idea/
/ApiGatewayServer/HELP.md
/ConfigurationServer/HELP.md
/EurekaServer/HELP.md
/logs/
/ApiGatewayServer/target/
/ConfigurationServer/target/
/EurekaServer/target/
/LicenseService/target/
/LicenseService/HELP.md
/LicenseService/lisening-service.iml
/OrganizationService/target/
/LicenseService/licening-service.iml
/OrganizationService/organization-service.iml
/Docker/logs/
/Docker/config_server.env
/GatewayServer/HELP.md
/GatewayServer/target/
/config/env/env_vars_microservice.txt
/config/.ssh/
/config/env/
/config/db_scripts/
/config/vault/
